<h1>Listing labels</h1>
<%= link_to 'New Label', new_label_path %>
<!--
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Barcode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.number %></td>
        <td><%= label.barcode_data.html_safe %></td>
        <td><%= link_to 'Show', label %></td>
        <td><%= link_to 'Edit', edit_label_path(label) %></td>
        <td><%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label', new_label_path %>

-->
<div class ="row">
<div class = "col-md-6">
<div id="labels">
  <% @labels.each do |label| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= label.number %> <span class="badge pull-right">new</span></div>
      <div class="panel-body">
      <%= label.barcode_data.html_safe %>
      <br>
      <%= label.number %>
     
      <br>
      <%= link_to 'Show', label %>
      <%= link_to 'Edit', edit_label_path(label) %>
      <%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <label class="checkbox-inline pull-right">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Include  
      </label>
      
      </div>
      </div>
      <% end %>
      
    </div>
  </div>


</div>

